
@media (max-width: 576px) {
    #pageHeadRow {
        display: none;
    }
}

.pageHeadLogo {
    width: 130px;
    height: auto;
    padding: 5px 10px 5px 10px;
}


#pageHeadText {
    padding-top: 10px;
    font-size: 100px
}

a.nav-link {
    font-size: 1.6em;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    z-index: 2;
    background-color: white;
}

.stickyBottom {
    bottom: 0;
    overflow: hidden;
    z-index: 2;
    background-color: white;


}

.nonSticky {
    margin-bottom: 30px;
    margin-top: 85px;
}

@media (min-width: 576px) {
    .nonSticky {
        margin-top: 250px;
    }
}



#teams,
#table,
#matches,
#chat,
#about {
    display: none;
}

.teamLogo {
    width: 80px;
    height: auto;
    padding: 15px 0 15px 0;
}


@media (min-width: 768px) {
    .teamLogo {
        width: 200px;
    }
}


@media (min-width: 992px) {
    .teamLogo {
        width: 300px;
    }
}


@media (min-width: 1200px) {
    .teamLogo {
        width: 400px;
    }
}


.homeLogo {
    width: 1500px;
    height: auto;
}

.card-header {
    height: 50px;
}


@media (max-width: 530px) {
    .hide-xs {
        display: none;
    }
}



.stadiumImg {
    margin: 10px 10px 10px 10px;
    width: 300px;
    height: auto;
}

.iframe {
    margin: 10px 10px 10px 10px;
    width: 300px;
    height: 200px;
}


.AboutUsLogo {
    max-width: 1500px;
    height: auto;
}


.chatContainer {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 5px 10px 25px 10px;
    margin-bottom: 10px;
}

#chatWindow {
    margin-bottom: 60px;
}

p.msgAuthor {
    font-weight: bold;
}

.time-right {
    float: right;
    color: gray;
}

#Chatcontainer2 {
    background-color: white;
}
